<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <version>2.0</version>
  <useSecurity>false</useSecurity>
  <quietPeriod>0</quietPeriod>
  <numExecutors>5</numExecutors>
  <disabledAdministrativeMonitors>
    <string>hudson.model.UpdateCenter$CoreUpdateMonitor</string>
    <string>jenkins.CLI</string>
    <string>jenkins.diagnostics.SecurityIsOffMonitor</string>
    <string>jenkins.security.UpdateSiteWarningsMonitor</string>
  </disabledAdministrativeMonitors>
</hudson>
