<?xml version='1.0' encoding='UTF-8'?>
<flow-definition>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.SCMTrigger>
          <spec>* * * * *</spec>
          <ignorePostCommitHooks>false</ignorePostCommitHooks>
        </hudson.triggers.SCMTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition">
    <scm class="org.jenkinsci.plugins.userspace_scm.UserspaceSCM">
      <how>
        <image>scm-impl</image>
        <config>http://jenkins:8000/</config>
        <args>--link jenkins --volumes-from jenkins</args>
      </how>
      <head>default</head>
      <requiresWorkspaceForPolling>false</requiresWorkspaceForPolling>
    </scm>
    <scriptPath>Jenkinsfile</scriptPath>
    <lightweight>true</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>
